<VirtualHost *:80>
  ServerName BGX_SERVER_NAME
  DocumentRoot "/var/www/html/BGX_APP_NAME/public"
  <Directory "/var/www/html/BGX_APP_NAME/public">
    AllowOverride all
  </Directory>
</VirtualHost>
